<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">My Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about.html">About</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Topics
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Technology</a>
                    <a class="dropdown-item" href="#">Web Development</a>
            
                    <a class="dropdown-item" href="#">Support</a>
                    <a class="dropdown-item" href="#">Write for us</a>                       
                               
        
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
        <div class="mx-2">

            <!--   <button class="btn btn-success" data-toggle="modal" data-target="#SignUpModal">Sign Up</button>-->
            <button class="btn btn-outline-success mx-1" data-toggle="modal" data-target="#loginModal">Login</button>
            <button class="btn btn-outline-success mx-1" data-toggle="modal" data-target="#signup">Sign Up</button>

        </div>
    </div>
</nav>
    <!--Login  Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModal">Login to your Account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="login" name="login" method="post">
                        <div class="form-group">
                            <label for="firstname">User Name</label>
                            <input type="text" class="form-control" id="uname" name="exampleInputEmail1" placeholder="Enter Your Username " required="">
                        </div>

                        <div class="form-group">
                            <label for="password"> Password</label>
                            <input type="password" class="form-control" id="password" name="exampleInputPassword1" placeholder=" Enter Your Password" required="">
                        </div>
                        <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Login</button>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div  class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="signup" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="signup">Login to your Account</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
              </div>
              <div class="modal-body">
                  <form name="register" [formGroup]="signUpForm">
                      
                    <div class="form-group">
                      <label for="firstName">First name*</label>
                      <input
                        type="text"
                        formControlName="firstName"
                        tabindex="0"
                        class="form-control"
                        id="firstName"
                        name="firstName"
                        placeholder="Enter firstname"
                        required=""
                        [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
                      />
                      <div
                        *ngIf="submitted && f.firstName.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.firstName.errors.required">
                          First Name is required
                        </div>
                      </div>
                      <div
                        class="err"
                        *ngIf="
                          signUpForm.get('firstName').errors &&
                          signUpForm.get('firstName').dirty &&
                          signUpForm.get('firstName').errors.validFchar
                        "
                      >
                        First Name should be in characters only
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="lastName">Last Name*</label>
                      <input
                        type="text"
                        formControlName="lastName"
                        tabindex="0"
                        class="form-control"
                        id="lastName"
                        name="lastName"
                        placeholder="Enter Last Name"
                        required=""
                        [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
                      />
                      <div
                        *ngIf="submitted && f.lastName.errors"
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.lastName.errors.required">
                          Last Name is required
                        </div>
                      </div>
                      <div
                        class="err"
                        *ngIf="
                          signUpForm.get('lastName').errors &&
                          signUpForm.get('lastName').dirty &&
                          signUpForm.get('lastName').errors.validFchar
                        "
                      >
                       Name should be in characters only
                      </div>
                    </div>
          
                    <div class="form-group">
                      <label for="email">Email*</label>
                      <input
                        type="text"
                        formControlName="email"
                        class="form-control"
                        id="email"
                        name="email"
                        placeholder="name@gmail.com"
                        required=""
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                      />
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">
                          Email must be a valid email address
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="phNo">Contact No*</label>
                      <input
                        type="text"
                        formControlName="phNo"
                        class="form-control"
                        id="phNo"
                        maxlength="10"
                        name="phNo"
                        placeholder="Enter Phone Number"
                        required=""
                        [ngClass]="{ 'is-invalid': submitted && f.phNo.errors }"
                      />
                      <div *ngIf="submitted && f.phNo.errors" class="invalid-feedback">
                        <div *ngIf="f.phNo.errors.required">Phone number is required</div>
                        <div *ngIf="f.phNo.errors.pattern">Should be number only</div>
                      </div>
                      <div
                        class="err"
                        *ngIf="
                          signUpForm.get('phNo').errors &&
                          signUpForm.get('phNo').dirty &&
                          signUpForm.get('phNo').errors.validPNo
                        "
                      >
                        Must be 10 Digit
                      </div>
                      <div
                        class="err"
                        *ngIf="
                          signUpForm.get('phNo').errors &&
                          signUpForm.get('phNo').dirty &&
                          signUpForm.get('phNo').errors.validPNChar
                        "
                      >
                        No Character Allowed
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="city">City</label>
                      <input
                        type="text"
                        formControlName="city"
                        class="form-control"
                        id="city"
                        name="city"
                        placeholder="Enter city"
                      />
                    </div>
          
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                      >
                        Close
                      </button>
                      <input
                        type="submit"
                        class="btn btn-secondary"
                        name="Submit"
                        value="Send"
                        (click)="saveCall()"
                        
                      />
                    </div>
      </form>
              </div>
          </div>
      </div>
  </div>    







 
    <div class="card">
        <div style="text-align: center;font-size: 25px; font-weight: bold;" class="card-header">
          Task 1
        </div>
        <div class="card-body">
          <div class="container-fluid">
            <div class="text-center">
              <img src="./assets/images/logo.png"
                   class="img-responsive center-block"
                   style="max-height:300px;padding-bottom:50px" />
            </div>
      
            <div class="text-center">Developed by:</div>
            <div class="text-center">
              <h3>Raghav N</h3>
            </div>
      
            <div style="font-size: 18px;" class="text-center">Click on Signup Button in Nav Bar</div>
            
          </div>
        </div>
      </div>
     