<div class="container">
    <p style="text-align: center; border: 1px solid;font-size: 25px;">Your Information</p>
</div>
<div class="container">
    <div style="border: 1px solid; padding: 10px 0px 1px 0px;" class="row">
        <div class="col-md-2">
            <h5>First Name</h5>
        </div>
        <div class="col-md-2">
            <h5>Last Name</h5>
        </div>
        <div class="col-md-3">
            <h5>Email</h5>
        </div>
        <div class="col-md-3">
            <h5>Ph No</h5>
        </div>
        <div class="col-md-2">
            <h5>City</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <p>{{data.firstName}}</p>
        </div>
        <div class="col-md-2">
            <p>{{data.lastName}}</p>
        </div>
        <div class="col-md-3">
            <p>{{data.email}}</p>
        </div>
        <div class="col-md-3">
            <p>{{data.phNo}}</p>
        </div>
        <div class="col-md-2">
            <p>{{data.city}}</p>
        </div>
    </div>
</div>
<div  class="container text-center"><button style="text-align: center;" [routerLink]="['/header']">Thank You</button></div>